build/server/htdocs/info.php
volume/articles/
!volume/articles/upload
!volume/articles/upload/tmp
volume/build/doc/manual.pdf
volume/build/vendor
volume/build/server/samples/samples/
volume/db/mysql/
*.swp
*.kate-swp
.idea/
